#canvas1 {
    position: absolute;
    background: lightgray;
    width: 400px;
    height: 400px;
    top: 20%;
    left: 40%;
}

.inputBox {
    display: block;
    background: rgb(235, 235, 235);
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
}

#sliderInput {
    width: 200px; /* Adjust the width of the slider */
    margin-bottom: 20px;
  }