#canvas1 {
    position: absolute;
    background: rgb(218, 213, 213);
    width: 600px;
    height: 600px;
    top: 58%;
    left: 42%;
}

.inputBox {
    width: 250px; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    background: rgb(235, 235, 235);
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

#sliderInput {
    width: 200px; 
    margin-bottom: 20px;
  }

#survivalLBInput {
    width: 200px; 
    margin-bottom: 20px;
}

#survivalUBInput {
    width: 200px; 
    margin-bottom: 20px;
}

#birthLBInput {
    width: 200px; 
    margin-bottom: 20px;
}

#birthUBInput {
    width: 200px; 
    margin-bottom: 20px;
}

#ageInput {
    width: 200px; 
    margin-bottom: 20px;
}

#clockPerInput {
    width: 200px; 
    margin-bottom: 20px;
}